.header{
    grid-area: h;
    background-color: black;
    position: relative;


}
.header img{
    width: 100px;


}
.header span{
padding-top: 10px;
    font-size: 35px;
    color: white;
    float: left;
}
.login{
    float: right;
    padding-right: 20px;

}
.login a{
    color: white;
    font-size: larger;
}