.app-wrapper{
    display: grid;
    grid-template-areas:
    "h h" "n c";


    grid-template-rows: 80px 1fr;
    grid-template-columns: 2fr 10fr;
}
.header{
    grid-area: h;
background-color: black;
}
.header img{
    width: 110px;
    margin-left: 55px;
}
.nav{
    grid-area: n;
    background-color:peru;
    color: white;
    border: 3px solid white;
    padding-top: 3em;
    text-align:center;
    font-size: 25px;

}

.content{
    grid-area: c;
    margin-top: 3px;

}

#indent{
    padding-top: 20px;
}
